@charset "UTF-8";
@import url("style.css");

/*
===============================================================================
                                 Responsividade
===============================================================================
*/

@media only screen and (min-width: 768px) and (max-width: 1023.98px) {

    .textos {
        padding-left: 12%;
        padding-right: 12%;
    }

    /*
    ===============================================================================
                                 utilizador.html
    ===============================================================================
    */
    .contato_email-senha {
        display: flex;
        margin: 0;
        padding: 30px 3.5%;
    }

    .contato_dados {
        width: 51%;
        margin: 0 5px;
    }

    .btns {
        width: 180px;
        border-radius: 23px;
        font-size: 1.2em;

    }

}

@media only screen and (min-width: 1024px) and (max-width: 1399.8px) {

    .titulo {
        text-align: left;
        margin: 4% 0 0 5%;
    }

    .textos {
        width: 840px;
        margin: 0 -3%;
    }

    /*
    ===============================================================================
                                  pag-inicial.html
    ===============================================================================
    */

    .menu {
        top: 50px;
        width: 25%;
        height: calc(100vh - 50px);
        /* ocupa a altura disponível abaixo do cabeçalho */

    }

    #checkbox-menu {
        display: none;
    }

    /* Ocultar label (ícone hambúrguer) em telas grandes */
    .menu-label {
        display: none;
    }

    .menu-lista {
        display: block;
        padding: 35px 0 0 25px;
    }

    .menu-lista-item {
        padding: 10px;
        margin-left: 15px;
    }

    /* rodapé do menu fica escondido junto com a lista */
    .menu-rodape {
        display: block;
        
    }

    .conteudo {
        margin-left: 25%;
    }


    /*
    ===============================================================================
                                 utilizador.html
    ===============================================================================
    */
    .titulo-utilizador {
        margin-bottom: 30px;
    }

    details {
        width: 65%;
        margin: 0px 0px 0px 50px;
    }

    .botoes {
        width: 75%;
        justify-content: flex-end;
        padding-right: 50px;
    }

    .contato_email-senha {
        display: flex;
        margin: 0;
        padding: 30px 3.5%;
    }

    .contato_dados {
        width: 51%;
        margin: 0 5px;
    }

    .btns {
        width: 185px;
        height: 45px;
        border-radius: 25px;
        font-size: 1.1em;
    }

    #btn-cancelar {
        margin-right: 25px;
    }


}

@media only screen and (min-width: 1400px) {
    .titulo {
        text-align: left;
        margin: 50px 0 0 5px;
    }

    .textos {
        min-width: 850px;
        max-width: 1100px;
        margin: 0% 5% 0% -1%;
        padding: 25px;
    }

    /*
    ===============================================================================
                                  pag-inicial.html
    ===============================================================================
    */

    .menu {
        top: 50px;
        height: calc(100vh - 50px);
        /* ocupa a altura disponível abaixo do cabeçalho */
        max-width: 250px;
    }

    #checkbox-menu {
        display: none;
    }

    /* Ocultar label (ícone hambúrguer) em telas grandes */
    .menu-label {
        display: none;
    }

    .menu-lista {
        display: block;
        padding: 35px 0 0 25px;
    }

    .menu-lista-item {
        padding: 10px;
        margin-left: 15px;
    }



    /* rodapé do menu fica escondido junto com a lista */
    .menu-rodape {
        display: block;
    }

    .conteudo-frame {
        display: block;
        width: 100%;
        height: 100%;
        border: none;
    }

    .conteudo {
        margin-left: 20%;
    }

    /*
    ===============================================================================
                                 utilizador.html
    ===============================================================================
    */
    .titulo-utilizador {
        margin-bottom: 30px;
    }

    details {
        width: 70%;
        margin: 0px 0px 0px 25px;
    }

    .botoes {
        max-width: 70%;
        margin-left: 24px;
        justify-content: flex-end;
    }

    .contato_email-senha {
        display: flex;
        min-width: 550px;
        max-width: 750px;
    }

    .contato_dados {
        min-width: 150px;
        max-width: 385px;
    }

    .btns {
        width: 185px;
        max-width: 200px;
        height: 45px;
        border-radius: 25px;
        font-size: 1.1em;
    }

    #btn-cancelar {
        margin-right: 25px;
    }
}